<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link href="{{ url_for('static', filename='assets/apple-icon-180x180.png') }}" rel="apple-touch-icon">
  <link href="../assets/favicon.ico" rel="icon">
  <title>Home | The Superhero Network</title>
  <link href="{{ url_for('static', filename='css/main.82cfd66e.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  <header class="">
    <nav class="sidebar">
      <div class="navbar-collapse" id="navbar-collapse">
        <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img class="img-responsive site-logo" alt=""
              src="{{ url_for('static', filename='assets/images/bcs.png') }}">
            
          </a>
        </div>
        <ul class="nav">
          <br>
          <br>
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/charts" title="Analytics">Analytics</a></li>
          <li><a href="/profile" title="Superheroes Profile">Findings</a></li>
          <br>
          <br>
          <li><a href="/about" title="Superheroes Profile">About the Project</li>
        </ul>

        <nav class="nav-footer">
           <p>© BCS COMICS | Created with <a href="http://www.mashup-template.com/"
              title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/"
              title="Beautiful Free Images">Unsplash</a></p>
        </nav>
      </div>
    </nav>
  </header>
    
  <main>
    <h2>About the Project </h2>
    <p> We have created a superhero database which will help you get to know the profiles for superheroes from various publishers. 
        We’ll also look into their characteristics, powers, and stats. Through an interactive analytics dashboard that 
        includes a sunburst, scatter plot, radial bar chart, and table of all heroes, we can find information about many of your favorite heroes.
        We’ll look at data over for over 700 superheroes and we’ll also find out how each of them can help solve the world’s most 
        difficult problems. We also aim to find out who are the superheroes who can fictionally save the Earth by identifying 167 super abilities that exist among beings across
        the universe which can potentially assist with one or more current critical world issues which are (Medical (COVID - 19), Climate 
        Change, Drug Addiction, Educational Improvements, Infrastructure Improvements, Large Scale Conflict). After thorough analysis, 
        we determined the following:
    </p>

    <div class="container text-center">
    <h4> Our Group</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="">
                    <img src="{{ url_for('static', filename='assets/images/miteshfantastic.jpg') }}" alt="Mitesh Fantastic"
                        style="width:100%">
                    <div class="caption">
                        <h5>Mitesh Fantastic</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="">
                    <img src="{{ url_for('static', filename='assets/images/spidermandrew.jpg') }}" alt="Spider-Mandrew"
                        style="width:100%">
                    <div class="caption">
                        <h5>Spider-Mandrew</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="">
                    <img src="{{ url_for('static', filename='assets/images/maryla.jpg') }}" alt="Ma-Ryla Hill"
                        style="width:100%">
                    <div class="caption">
                        <h5>Ma-Ryla Hill</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="">
                    <img src="{{ url_for('static', filename='assets/images/captamarvela.jpg') }}" alt="Cap-Tamarvela"
                        style="width:100%">
                    <div class="caption">
                        <h5>Cap-Tamarvela</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h6>With Special Thanks to</h6>
    <h4>The P-Men</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="">
                    <img src="{{ url_for('static', filename='assets/images/profp.jpg') }}" alt="Professor P"
                        style="width:100%">
                    <div class="caption">
                        <h5>Professor P</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="">
                    <img src="{{ url_for('static', filename='assets/images/jeangreytel.jpg') }}" alt="Jean Grey-tel"
                        style="width:100%">
                    <div class="caption">
                        <h5>Jean Grey-tel</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="">
                    <img src="{{ url_for('static', filename='assets/images/mikeneto.jpg') }}" alt="Mike-neto"
                        style="width:100%">
                    <div class="caption">
                        <h5>Mike-neto</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="">
                    <img src="{{ url_for('static', filename='assets/images/icemandrew.jpg') }}" alt="Ice Mandrew"
                        style="width:100%">
                    <div class="caption">
                        <h5>Ice Mandrew</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        masonryBuild();
      });
    </script>

  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      navActivePage();
    });
  </script>

  <!-- Added D3, JQuery, Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

  <!-- Prebuilt script element -->
  <script type="text/javascript" src="main.85741bff.js"></script>


</body>

</html>