<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link href="{{ url_for('static', filename='assets/apple-icon-180x180.png') }}" rel="apple-touch-icon">
  <link href="../assets/favicon.ico" rel="icon">
  <title>Scatter | The Superhero Network</title>
  <link href="{{ url_for('static', filename='css/main.82cfd66e.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/d3style.css') }}">

</head>

<body>
  <header class="">
    <nav class="sidebar">
      <div class="navbar-collapse" id="navbar-collapse">
        <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img class="img-responsive site-logo" alt=""
              src="{{ url_for('static', filename='assets/images/bcs.png') }}">  
          </a>
        </div>
        <ul class="nav">
          <br>
          <br>
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/charts" title="Analytics">Analytics</a></li>
          <li><a href="/profile" title="Superheroes Profile">Findings</a></li>
          <br>
          <br>
          <li><a href="/about" title="Superheroes Profile">About the Project</li>
        </ul>

        <nav class="nav-footer">
           <p>© BCS COMICS | Created with <a href="http://www.mashup-template.com/"
              title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/"
              title="Beautiful Free Images">Unsplash</a></p>
        </nav>
      </div>
    </nav>
  </header>
  
  <main>
    <div class="section-container-spacer">
      <h2>Superpowers</h2>
      <div id="scatter">
        <!-- scatter chart here -->
      </div>
      <h6>(Those aligned with Good are colored in blue, Bad are colored in red, all others are yellow)</h6>
      <hr>
      <h4>Analysis</h4>

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <img src="{{ url_for('static', filename='assets/images/corr_matrix.png') }}" alt="correlation matrix"
            width="800px" height="auto">
          <h5 style="text-align: center;"> Correlation Matrix Superpowers</h5>
        </div>
        <br>
        <br>
        <br>
        <div class="col-xs-12 col-md-4">
          <h6>Scatterplot Analysis</h6>
          <p> Generally speaking, there are moderate to strong correlations between all general attributes, 
            as these are superheroes and villains with extraordinary abilties compared to the general population. 
            The three highest correlations were: Strength/Durability (.79), Combat/Intelligence (.78), and Power/Durability (.75). Conversely, the 
             weakest correlations are Strength/Intelligence (.57), Strength/Combat (.58), and Speed/Combat (.59).
          </p>
          <hr>
          <p> While a scatterplot is helpful to see the correlations between general attributes and scores for high level assessment,
            a deeper dive into individual superpowers is needed to thoroughly understand which heroes (and potentially villains) can 
            help the most. For example, are there any superpowers that lead to a strong combination of durability and 
            strength which can help with a real world issue such as COVID-19.
          </p>
        </div>
      </div>
    </div>


  </main>

  <!-- Added D3, JQuery, Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <!-- Prebuilt script element -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.85741bff.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/scatter.js') }}"></script>



</body>

</html>